// Normalize
@import 'node_modules/modern-normalize/modern-normalize';


html {
  // border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}






// slippy-slider lib default styles
.slippy-slider {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
// this is a required hack to make the scroll container respect the right side parent padding or child margin
  &:after {
    content: "";
    display: block;
    width: 1px;
    flex: 0 0 1px;
    margin-left: -1px;
  }
  &:before {
    content: "";
    display: block;
    width: 1px;
    flex: 0 0 1px;
    margin-right: -1px;
  }
  // hide the scrollbars
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
  &__track {
    display: flex;
    height: 100%;
  }
  &__slide {
    scroll-snap-align: var(--scroll-snap-align);
  &.on-screen {

  }
  &.active-slide {

  }
  }
}



// slippy-slider custom styles for testing
.slippy-slider__track {
  position: relative;
  padding-left: calc(50vw - 200px);
  padding-right: calc(50vw - 200px);
  border: 1px solid red;
}
.slippy-slider__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  height: 400px;
  margin: 0 20px;
  background-color: rgb(208, 242, 255);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 255, 0.5);
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1), background-color 0.3s linear;
  &.on-screen {
    background-color: rgb(211, 208, 255);
    &:after {
      content: "on-screen";
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  &.active-slide {
    background-color: rgb(111, 157, 255);
    &:before {
      content: "active-slide";
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

.slide__inner {
  height: 100px;
  width: 100px;
  margin: auto;
  background-color: rgb(235, 249, 255);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1), box-shadow .5s cubic-bezier(0, 0, 0.5, 1);
  .on-screen & {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.5);
    transition: transform 0.8s cubic-bezier(0, 0, 0.5, 1), box-shadow .5s cubic-bezier(0, 0, 0.5, 1);
  }
  .active-slide & {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    transform: scale(2);
  }
}

.slider-wrap {
  position: relative;
  border: 1px dashed grey;
}

.control {
  &-buttons {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    transform: translateY(150%);
    pointer-events: none;
  }
  &-prev,
  &-next {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    pointer-events: all;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: darkgrey;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
}