// Normalize
@import 'node_modules/modern-normalize/modern-normalize';


html {
  // border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
}

.page-content {
  overflow: hidden;
}






// slippy-slider lib default styles
.slippy-slider {
  display: flex;
  // scroll-snap-type: x mandatory;
  // -webkit-overflow-scrolling: touch;
  // overflow-x: scroll;
  overflow-x: visible;
  overflow-y: hidden;
  overflow: hidden;
// this is a required hack to make the scroll container respect the right side parent padding or child margin
  &:after {
    content: "";
    display: block;
    width: 1px;
    flex: 0 0 1px;
    margin-left: -1px;
  }
  &:before {
    content: "";
    display: block;
    width: 1px;
    flex: 0 0 1px;
    margin-right: -1px;
  }
  // hide the scrollbars
  // scrollbar-width: none; /* Firefox */
  // -ms-overflow-style: none;  /* IE 10+ */
  // &::-webkit-scrollbar { /* WebKit */
  //   width: 0;
  //   height: 0;
  // }
  &__track {
    display: flex;
    height: 100%;
    will-change: transform;
  }
  &__slide {
    // scroll-snap-align: var(--scroll-snap-align);
  &.on-screen {

  }
  &.active-slide {

  }
  }
}



// slippy-slider custom styles for testing
.demo--fixed-size {
  position: relative;
  margin: 80px 0;
  padding: 60px 0;
  background-color: rgb(32, 32, 32);
  color: black;
  .slippy-slider {
    // position: relative;
  }

  .slippy-slider__track {
    position: relative;
    padding-left: calc(50vw - 200px);
    padding-right: calc(50vw - 200px);
    // border: 1px solid red;
  }

  .slippy-slider__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 0 20px;
    background-color: rgb(208, 242, 255);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 255, 0.5);
    transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1), background-color 0.3s linear;

    .slide__inner {
      height: 100px;
      width: 100px;
      margin: auto;
      background-color: rgb(235, 249, 255);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1), box-shadow .5s cubic-bezier(0, 0, 0.5, 1);
    }
    &.on-screen {
      background-color: rgb(211, 208, 255);
      &:after {
        content: "on-screen";
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
      }
    }
    &.active-slide {
      background-color: rgb(111, 157, 255);
      &:before {
        content: "active-slide";
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
      .slide__inner {
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
          transform: scale(1.5);
      }
    }
  }

  .control {
    &-buttons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
      width: 100%;
      height: 0;
      top: 50%;
      pointer-events: none;
      padding: 0 40px;
    }
    &-prev,
    &-next {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      pointer-events: all;
      cursor: pointer;
      outline: none;
      border: none;
      background-color: darkgrey;
      color: white;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
    }
  }
}


.demo--left {
  .slippy-slider__track {
    padding: 0 60px 0 0;
  }
  .slippy-slider__slide {
    margin: 0 100px 0 0;
    width: calc(100vw - 160px);
  }
}


.demo--responsive {
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
  .slippy-slider__track {
    padding: 0;
    margin-right: -40px;
  }
  .slippy-slider__slide {
    margin: 0 20px 0 0;
    width: calc((100vw / 3) - 20px);
    width: 390px;
    &:last-of-type {
      margin: 0;
    }
    @media screen and (max-width: 1200px) {
      width: calc(50vw - 10px);
    }
    @media screen and (max-width: 900px) {
      width: 100vw;
    }
  }
}


// Testing percentage based widths. This works but requires the track width and the slide widths to be percentage based on the number of slides. Allows responsive sizing without a js listener.
.test-container--01 {
  width: 50vw;
  margin: 100px auto;
  // overflow: hidden;
  // overflow: visible;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  background: green;
  padding: 20px;
  .test-track {
    display: flex;
    transform: translateX(-200%);
    overflow: visible;
    background-color: pink;
    box-shadow: 0 0 0 10px blue;
  }
  
  .test-slide {
    // flex: 0 0 10%; // Percentage based on the number of slides
    scroll-snap-align: center;
    min-width: 100%;
    @media screen and (max-width: 800px) {
      min-width: 50%;
    }
    height: 400px;
    background: rgb(169, 169, 255);
    box-shadow: inset 0 0 0 10px red;
    @media screen and (max-width: 900px) {
      // min-width: calc(50% - 40px);
    }
  }
}


// TODO: New approach to try. Allows for overflow visible or hidden.
.test-container--02 {
  width: 50vw;
  margin: 100px auto;
  overflow: visible;
  background: green;
  padding: 20px;

  // Try positioning the slide trolley with flex on the parent.
  // See if I can measure all the transforms based on the position of this instead of the position of the slider wrap.
  // That would allow for Slider center/left modes via CSS and more intuitive margin setting
  // This can also be used to easily control the left and right limits of the slider too.
  display: flex;
  justify-content: center;
  .slide-trolley {
    // This holds the slides and also controls the width of each slide
    display: flex;
    // margin-left: 20px;
    // Setting the width of this also sets the width for each slide. Uses a percentage value of the parent or a pixel value. Heck even a calc is fine.
    width: calc(50% - 20px);
    @media screen and (max-width: 600px) {
      width: calc(100% - 40px);
    }
    
    overflow: visible;
    background-color: pink;
    box-shadow: 0 0 0 10px blue;
  }
  
  .test-slide {
    // Must set min-width or set flex-shrink to 0;
    // min-width: 100%;
    // flex: 0 0 100%;
    width: 100%;
    flex-shrink: 0;
    // Set position relative on each slide, this allows the inline styles for slider position to work
    position: relative;
    // Set the left value as a percentage inline via javascript to position the slides correctly after the interaction finishes
    // EG: left: -200%;
    // left: -100px;
    // Then use a media query and set position to static when you want to override the inline styles and reset the slider
    @media screen and (min-width: 768px) {
      position: static;
    }
    height: 400px;
    background: rgb(169, 169, 255);
    box-shadow: inset 0 0 0 10px red;
  }
}